*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
    display: grid;
    text-align: center;
    grid-template-areas: 'header header header header header header'
                         'myDetails myDetails myDetails myDetails myDetails myDetails'
                         'trans trans trans trans trans trans';
    padding: 10px;
    gap: 5px;
    border: 1px solid green;
    margin: 5px;
    /* height: 100vh; */
}

.details {
    grid-area: myDetails;
    text-align: center;
    border: 1px solid black;
}

.transaction {
    grid-area: trans;
    align-items: center;
    border: 1px solid black;
}

.grid-header {
    grid-area: header;
    text-align: center;

    height: auto;
}